.pocetna-filteri {
    padding: 20px;
}

#price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price-box {
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    display: flex;
}

.filteri-btn {
    margin-top: 30px;
}

.filteri-display{
    display: flex;
    justify-content: center;
}

.pocetna-filteri-kategorija {
    display: flex;
    flex-direction: column;
}

@media (max-width:826px) {
    .pocetna-filteri-kategorija {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }
}

@media (max-width:400px) {
    .pocetna-filteri-kategorija {
        flex-direction: column;
        gap: 0;
    }
}