.pocetna-container{
    width: 100vw;
    position: relative;
    display: flex;
    margin: 0 !important;
}
.pocetna-filteri {
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 69px;
    left: 0;
    z-index: 1;
}

.pocetna-oglasi-container {
    width: 75%;
    margin: 0 0 0 25%;
    padding: 30px;
}

.pocetna-oglasi-info{
    width: 100%;
    height: 70px;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
}

.pocetna-raspored {
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.pocetna-broj-oglasa {
    margin-right: 50px;

}
.pocetna-oglasi {
width: 100%;
padding-top: 30px;
}

.cena-gold {
    color: #e4ae65;
}

@media (max-width:820px) {
    .pocetna-container {
        flex-direction: column;
        margin: 10px;
        padding: 0;
    }
    .pocetna-filteri {
        width: 100%;
        position: relative;
        top: 0;
        height: 100%;
    }
    .pocetna-oglasi-container {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 630px) {
    .pocetna-oglasi-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .pocetna-raspored {
        margin: 5px;
       
    }
    .pocetna-broj-oglasa {
        font-size: 15px;
        margin: 5px;
        margin-right: auto;
    }
   .pocetna-search {
    width: 40%;
   }
}