.add-container{
    margin: 50px 30px;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(280px, 45%) 1fr;
}



.add-image{
    display: flex;
flex-direction: column;
    height: 100%;
}



.add-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-inline: 20px;
}


.file-input {
    display: inline-block;
    text-align: left;
    background: #ffffff84;
    padding: 16px;
    width: 100%;
    position: relative;
    border-radius: 3px;
    box-shadow: 6px 0px 12px rgba(0,0,0,0.10);
  }
  
  .file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }
  
  .file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: #eee;
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 8px;
  }
  
  .file-input:hover > .button {
    background: dodgerblue;
    color: white;
  }
  
  .file-input > .label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
  }
  
  .file-input.-chosen > .label {
    opacity: 1;
  }

  .add-image-list {
    margin-top: 20px;
}

.img-cont {
  height: 150px;
  margin-block: 10px;
  border: 1px solid rgb(211, 211, 211, 0.5);
  display: flex;
  position: relative;
  justify-content: center;
}

.img-cont:hover {
  border: 2px solid rgb(211, 211, 211, 0.8);
}

.img-cont img {
  aspect-ratio: 1/1;
  height:100%;
    object-fit: contain;
    cursor: pointer;
    z-index: 2;
  }

  .image-cont-delete {
    position: absolute;
    top: -10px;
    right:0px;
    z-index: 1;
  }


          /* INFO    INFO  */

.category-dropdown{
 z-index: 1;
}

.category-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}
.category-input1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width:800px) {
  .add-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 5px 10px 5px;
  }
  .add-image {
    width: 100%;
    padding-inline: 5px;
    height: 100%;
  }
  .img-cont {
    height: 80px;
    margin-block: 5px;
    border: 1px solid rgb(211, 211, 211, 0.5);
    display: flex;
    position: relative;
    justify-content: center;
  }
  .add-info {
    width: 100%;
    padding-inline: 5px;
  }
}

/* @media (max-width:500px) {
  .add-image{
    height: 50vh;
  }
} */

@media  (orientation: landscape) {
  .add-image {
    height: 100%;
  }
}