.ocene-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
}

.ocene-header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.ocene-pozitivne {
    display: flex;
}

.ocene-i-prati{
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    align-items: center;
}

.ocene-korisnika {
    width: 100%;
    padding: 20px;
    
}

.ocene-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block: 30px;
    background-color: rgb(211, 211, 211, 0.5);
box-shadow: 4px 6px 10px rgb(211, 211, 211, 0.15);
padding: 10px;
border-radius: 8px;

}

.ocene-card-select {
    margin-block: 10px;
    display: flex;
    justify-content: space-between;
}

.ocene-card-komentar {
    width: 100%;
    padding: 10px;
    background-color:whitesmoke ;
    margin-bottom: 10px;
}
.ocena-active {
border-color: rgb(211, 211, 211, 0.5) !important;
}

@media (max-width:650px) {
    .ocene-container {
        padding: 15px;
    }

    .ocene-header {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .ocene-pozitivne {
        display: flex;
        justify-content: center;
    }
    .ocene-card-select {
        display: flex;
        flex-direction: column;
    }
}