.ad-container {
  width: 100%;
  height: 100vh;
  padding: 20px 50px;
  display: flex;
}

.ad-text-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:0 20px;
}

.ad-text-up {
  display: flex;
  justify-content: space-between;
  height: 35%;
}

.ad-text-userinfo{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}


.ad-small-det-text-left {
    width: 50%;
  }
  .ad-small-det-left {
    display: flex;
  }
  .ad-small-det-cont{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin-block: 20px;
  }

  .add-first-cont {
    display: flex;
    height: 30px;
    align-items: center;
  }



  @media (max-width:850px) {
    .ad-container {
      flex-direction: column;
      height: 100%;
    }
    .ad-text-container {
      width: 100%;
    }
  }